POSTGRES_URL=jdbc:postgresql://db:5432/boardgame_tracker_db
POSTGRES_DB=boardgame_tracker_db
POSTGRES_USER=*********
POSTGRES_PASSWORD=*********
REDIS_HOST=redis
REDIS_PORT=6379
USER_COLLECTION_STATS_CACHE_TTL=10m
BGG_API_TOKEN=secret
